/* Small screen */
.hero {
    display: flex;
    flex-direction: column;

}

.hero-left {
    margin-bottom: 1rem;
}

.hero-genre {
    color: #4361ee;
    margin-bottom: 1rem;
    font-size: 2re;
}

.hero-description {
    color: #64748b;
    margin-bottom: 15rem;
}

.hero-button {
    padding: 0.8rem 2rem;
    border: none;
    width: 50px;
    border-radius: 10px;
    background-color: #4361ee;
    color: #fff;
}

button {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right:  2rem;
    margin-left:  6rem;
    background-color: #5e7af5;
    border-radius: 7px;
    font-weight: bold;
}

.hero-right {
    margin-top: 0;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 1px 1px black;
    color: #fff;
}

.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;    
}

/* Medium */
@media (min-width: 768px) {
    button {
        margin-right: 20rem;
    }
}

/* Large Screen */
@media (min-width: 992px) {
    .hero {
        margin: 0 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align-last: left;
    }

    .hero-left {
        flex-basis: 40%;
    }
}